<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" sizes="50x100" href="{{ flavicon }}">
    <title>MCGC Spatial QA Validator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
<body>
    <div id="hero">
        <img src="{{ logo }}" width="500" height="100"/>
    </div>
    <header>
        <section >
            <div id="title">Spatial File Validator</div>
        </section>
        <section>
            <div id="tagline">Upload a <u>zipped</u> shapefile to validate it for submission</div>
        </section>
        <div id="tagline">{{Warning}}</div>
       
    </header>
    
    <div id="container">
        <div id="form-container">
            <form id="form" action="{{ url_for('upload_file') }}" method="POST" enctype=multipart/form-data>
                <input type="file" accept="application/zip" name="data_zip_file" />
                <button type="submit">Validate</button>
            </form>
        </div>
        <section id="explainer">
            <div id="text">What we check for:</div>
            <ul id="list">
                <li>File naming</li>
                <li>Layers have attributes</li>
                <li>Projection</li>
                <li>Geometry errors</li>
                <li>Topology errors</li>
            </ul>
        </section>
    </div>
</body>
</html>